form {
  display: flex;
  flex-direction: row;

  button {
    margin-left: 5px;
    flex-shrink: 0;
    align-self: flex-end;
  }
}
button.new-prompt {
  background: none!important;
  color: inherit;
  border: none;
  padding: 0!important;
  font: inherit;
  cursor: pointer;
  &:hover {
    text-decoration:underline;
  }
  &:active {
    // Necessary to make it not look like a button when clicked in Firefox.
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }
}
