li.poem {
  padding-bottom: 2em;
}

li.poem div.meta {
  background-color: #eee;
  border-radius: 2px;
  margin-bottom: .5em;
  padding: .3em .5em;
}

li.poem div.meta a.hover-link {
  display:none;
  margin-left: .5em;
}

li.poem div.meta:hover a.hover-link {
  display: inline;
  text-decoration: none;
}


li.poem p.line {
  margin-left: 1em;
}

div.meta {
  margin-bottom: .5em;
}

p.line {
  margin: 0;
}

ul.poem-list {
  margin-bottom: 2em;
}
